:root {
  --blue: #000FE0;
  --pink: #FF81F4;
  --autumn: #F16020; 
  --black: rgb(25, 25, 25);
  --white: white;
}

/* Global Styles */
body {
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--blue);
  }

.wrapper {
  scroll-snap-type: y proximity;
  overflow: scroll;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
}

.section {
  position: relative;
  min-height: 100vh;
  display: flex;  
}

/* Add Padding to Section */
.section-pad {
  padding: 0 5vw;
}

.container {
  max-width: 1000px;
  margin: auto;
}

/* Intro Section */
#intro {
  
}

.intro {
  background-image: url(assets/irina-anuchina-ZXuXQvhM16E-unsplash_NOISE-pink.jpg);
}

/* #intro::before {
  background-image: url(assets/irina-anuchina-ZXuXQvhM16E-unsplash.jpg);
} */

.logo {
  display: block;
  text-align: center;
  max-width: 210px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  margin-top: 2rem; /* REVIEW HERE: Probably need Calc in order to center it vertically */
}

.intro p {
  text-align: center;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0;
  font-family: ibm-plex-mono, sans-serif;;
  font-weight: 600;
  color: var(--blue);
  /* font-style: italic; */
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    opacity: 1;
  }
}

.appear {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.marquee {
  position: absolute;
  top: 2vh;
  left: 0;
  width: 100%;
  font-size: 36px;
  line-height: 1.6;
  overflow: hidden;
}

.marquee span {
  white-space: nowrap;
  display: block;
  position: relative;
  font-family: obviously-extended, sans-serif;
  font-weight: 600;
  animation: moveLeft 200s infinite;
  animation-timing-function: ease-out;
  color: var(--blue);
}

.mix-difference {
  mix-blend-mode: multiply;
  color: var(--pink);
}

@keyframes moveLeft {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-1000vw);
  }
}

/* Day Sections */

.day-1 {
  background-color: var(--blue);
} 

.day-2 {
  background-color: var(--autumn);
}

.day-3 {
  background-color: var(--pink);
}

.date {
  font-family: 'Obviously-Extended';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 29px;
  color: var(--white);
} 

.lineup h2 {
  color: var(--white);
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}

.lineup p {
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.5px;
}

.lineup .tba {
  font-weight: bold;
}

#day-3 > div:nth-child(1) > h3:nth-child(1),
#day-3 > div:nth-child(1) > ul:nth-child(2) > li:nth-child(1) > h2:nth-child(2) {
  color: blue;
  }s
 {
  color: var(--blue);
  }

