:root {
  --blue: #0037ff;
  --pink: #ff70f2;
  --black: rgb(25, 25, 25); 
}

/* Global Styles */
body {
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  }


h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: obviously-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
} 

.wrapper {
  scroll-snap-type: y proximity;
  overflow: scroll;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
}

.section {
  position: relative;
  min-height: 100vh;
  display: flex;  
}

/* Add Padding to Section */
.section-pad {
  padding: 0 5vw;
}

.container {
  max-width: 810px;
  margin: auto;
}

/* Intro Section */
#intro {
  background-image: url(assets/ffflux\ \(3\).svg);
  background-color: #0037ff;
}

.logo {
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
}

.intro p {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    opacity: 1;
  }
}

.appear {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.marquee {
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  font-size: 5vh;
  line-height: 1;
}

.marquee span {
  white-space: nowrap;
  display: block;
  position: relative;
}

